spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dbphoneshopmgt
    username: phoneshop_mgt
    password: phoneshopmgt123
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

#spring:
#  datasource:
#    url: jdbc:jdbc:h2:mem:testdb
#    username: sa
#    password:
#  jpa:
#    properties:
#      hibernate:
#        dialect: org.hibernate.dialect.H2Dialect
#    hibernate:
#      ddl-auto: create
#  h2:
#    console:
#      enabled: true


